@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");
@import "tailwindcss";

@theme {
  --font-sans: "Pretendard", -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
    "Segoe UI", Roboto, "Noto Sans KR", "Malgun Gothic", sans-serif;
}

@layer base {
  * {
    box-sizing: border-box;
    letter-spacing: 0.3px;
  }

  body {
    @apply m-0 min-w-80 bg-white text-black font-sans antialiased;

  }

  button,
  input,
  textarea {
    font: inherit;
  }

  button {
    @apply cursor-pointer;
  }
}